.history-item {
    border-bottom: 1px solid #ccc;
    padding: 5px 0;
}

.history-item-0 {
    border-top: 1px solid #ccc;
}

.history-option:hover {
    color: #737272;;
}

.saved-history-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
}

.saved-history-item {
    cursor: pointer;
}

.time-stamp {
    color: #c8c8c8;
    font-size: 0.9em;
}

.delete-item:hover {
    background-color: #f29b36;
}

.delete-item:focus {
    outline: none;
}

.delete-item {
    background-color: #f3aa55;
    border: 2px solid #868480;
    font-weight: 700;
    padding: 2px 4px 2px 6px;
    cursor: pointer;
    line-height: 35px;
    width: 100%;
    font-size: 1em;
}

.delete-item:after {
    content: "\00d7";
    display: inline-block;
    width: 33px;
    height: 33px;
    background-color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 2px 0 2px 4px;
    padding: 0;
    border-radius: 50%;
    font-weight: 500;
    font-size: 26px;
    vertical-align: middle;
}

@media (max-width:600px) {

    .w-100 {
        width: 100%;
    }
    .delete-item:after {
        content: none;
    }
    .flex-item-align-right {
        margin-left: 0;
        padding-right: 0;
    }
}

@media (min-width:600px) {
    .flex-item-align-right {
        margin-left: auto;
        padding-right: 5vw;
    }
}

