.search-field, .reset-search-btn {
    position: relative;
    padding: 10px;
}
.search-field {
    width: 80%;
    border: 1px solid #ccc;
    outline: none;
}
.search-field:focus {
    border: 1px solid #dadada;
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28)
}
.reset-search-btn {
    border:1px solid transparent;
    background-color: transparent;
    display: inline-block;
    vertical-align: middle;
    outline: 0;
    cursor: pointer;
}
.reset-search-btn:after {
    content: "\00d7";
    position: absolute;
    z-index: 1;
    right: 35px;
    top: 0;
    font-weight: normal;
    font-size: 30px;
    cursor: pointer;
    line-height: 15px;
}
.search-field:not(:valid) ~ .reset-search-btn {
    display: none;
}
.rounded-top-corners {
    border-radius: 5px 5px 0 0;
}
.rounded-corners {
    border-radius: 5px;
}

