.search-history .search-history-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    padding: 10px 0;
}
.search-history .clear-history-btn,
.search-history a:visited,
.search-history a:active {
    color: #000;
}

.search-history a:hover {
    color: #737272;
}