body {
    font-family: Helvetica, Arial, Verdana, sans-serif;
    padding: 0;
    margin: 0
}

.app {
    background-color: #f1f1f1;
    padding: 20px;
    height: 100vh;
    font-size: 13px;
}

.f-right {
    text-align: right;
}

.l-r-padding-0 {
    padding: 0 10px;
}

@media (max-width:600px) {
    .app {
        font-size: 3vw;
    }
}
